<h1>メッセージ一覧</h1>
<%= @messages.each do |m| %>
名前：
<%= m.name %>

内容：
<%= m.body %>
<br>
<% end %>

<%= form_for(Message.new) do |f| %>

名前：

<%= f.text_field :name %>

内容：

<%= f.text_field :body %>

<%= f.submit %>

<% end %>
